.App {
  background-color: #eee;
  height: 100%;
}

.info{
  margin-top: 48px;
  height: 100%;
  padding: 10px 50px;
}
#news{
  margin-top: 15px;
}
.data-table{
  height: 650px;
  margin-top: 15px;
  text-align: center;
  overflow-y: scroll;
}